const authorizationPage = `
<div id="authorization-page" class="form-page app-border">
    <form action="" method="POST" class="form" id="auth-form">
        <h1 class="form-label">Авторизация</h1>
        <ul class="inputs-block">
            {{#each inputs}}
                {{> baseInput }}
            {{/each}}
        </ul>
        <div class="buttons-block">
            {{#each buttons}}
                {{> baseButton }}
            {{/each}}
        </div>
    </form>
</div>
`;
export default authorizationPage;
