const error500Page = `
<div id="error-500" class="error-page app-border">
    <div class="error-title">
        <h1>500</h1>
        <h4>Стараемся починить,</h4>
        <h4>делаем всё возможное</h4>
    </div>
    {{> baseButton }}
</div>
`;
export default error500Page;
