$backgroundMainColor: #f6f6a3;
$backgroundNotMainColor: white;

$anyLinesColor: lightgrey;
$textColorDark: grey;
$notViewedPointerColor: #c0f507;

$buttonFirstMainColor: #c0f507;
$buttonFirstHoverColor: #96bf08;

$buttonSecondMainColor: lightpink;
$buttonSecondHoverColor: #cb919a;
