const error404Page = `
    <div id="error-404" class="error-page app-border">
        <div class="error-title">
            <h1>404</h1>
            <h4>Не туда попали</h4>
        </div>
        {{> baseButton }}
    </div>
`;
export default error404Page;
