@import "consts/consts";

html {
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 20px;
}

#app {
  box-sizing: border-box;
  background-color: $backgroundMainColor;
  height: 100%;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: bold;
  font-family: sans-serif;

  .menu-list-item {
    padding: 5px;
  }
}

.app-border {
  border: 5px solid $anyLinesColor;
  border-radius: 20px;
}

.underline {
  background-color: $anyLinesColor;
  height: 5px;
  border-radius: 3px;
}

.vertical-border {
  background-color: $anyLinesColor;
  width: 5px;
  border-radius: 3px;
}

.form-page {
  display: flex;
  justify-content: center;
  background-color: $backgroundNotMainColor;
  height: 800px;
  width: 600px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100%;

  .form-label {
    margin-top: 100px;
    text-align: center;
  }

  .buttons-block {
    margin-bottom: 40px;
  }
}

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $backgroundNotMainColor;
  height: 800px;
  width: 600px;

  .error-title {
    margin-top: 200px;
    text-align: center;
  }

  .error-button {
    margin-bottom: 120px;
  }
}
